{% load static %}

<!DOCTYPE html>

<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static '/css/style.css' %}">

<body>

<div class="icon-bar">
  <a href="http://127.0.0.1:8000/home"><i class="fa fa-home"></i></a>
  <a href="http://127.0.0.1:8000/cadastrar/campo"><i class="fa fa-plus"></i></a>
  <a href="http://127.0.0.1:8000/saldo/"><i class="fa fa-dollar"></i></a>
  <a href="http://127.0.0.1:8000/lucros_day"><i class="fa fa-calendar"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
</div>
    <header>
        <h1>{% block header %} {% endblock %}</h1>
    </header>

    <main>
        <!-- O conteúdo principal será fornecido pelos templates filhos -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Aposta Garantida</p>
    </footer>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Obter o elemento h1
        var lucroElement = document.querySelector(".green-text");

        // Verificar se o elemento existe antes de acessar suas propriedades
        if (lucroElement) {
            // Obter o texto do elemento h1
            var lucroText = lucroElement.textContent;

            // Remover os zeros desnecessários usando parseFloat e toString
            var lucroSemZeros = parseFloat(lucroText.replace(/[^0-9.]/g, '')).toString();

            // Verificar se a conversão resultou em um número válido
            if (!isNaN(lucroSemZeros)) {
                // Atualizar o texto do elemento h1
                lucroElement.textContent = "Lucro: " + lucroSemZeros;
            }
        }
    });
</script>

<script>
            // Obtém todas as linhas da tabela
            var rows = document.getElementById("myTable").getElementsByTagName("tr");

            // Itera sobre as linhas e verifica se a célula contém a palavra "pendente"
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var hasPendente = false;

                // Itera sobre as células
                for (var j = 0; j < cells.length; j++) {
                    // Verifica se a célula contém a palavra "pendente"
                    if (cells[j].textContent.includes("pendente")) {
                        hasPendente = true;
                        // Aplica a cor diretamente à célula
                        cells[j].style.color = "red";
                    }
                }

                // Adiciona a classe red-text à linha se "pendente" for encontrado
                if (hasPendente) {
                    rows[i].classList.add("red-text");
                }
            }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Obter o elemento h1
        var PendenteElement = document.querySelector(".red-text");

        // Verificar se o elemento existe antes de acessar suas propriedades
        if (PendenteElement) {
            // Obter o texto do elemento h1
            var PendenteText = PendenteElement.textContent;

            // Remover os zeros desnecessários usando parseFloat e toString
            var PendenteSemZeros = parseFloat(PendenteText.replace(/[^0-9.]/g, '')).toString();

            // Verificar se a conversão resultou em um número válido
            if (!isNaN(PendenteSemZeros)) {
                // Atualizar o texto do elemento h1
                PendenteElement.textContent = "Pendente: " + PendenteSemZeros;
            }
        }
    });
</script>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obter a lista de itens
            var listaItens = document.querySelectorAll('ul li');

            // Iterar sobre cada item da lista
            listaItens.forEach(function(item) {
                // Obter o texto do item
                var textoItem = item.textContent;

                // Extrair a parte de data e a parte numérica do texto usando expressões regulares
                var partes = textoItem.match(/([A-Za-z]+\.\s\d+,\s\d+): ([\d\.]+)/);

                // Se houver partes, substituir o texto do item
                if (partes && partes.length === 3) {
                    var data = partes[1];
                    var parteNumerica = partes[2];
                    item.textContent = data + ': ' + parteNumerica;
                }
            });
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Loop através de cada célula da tabela
        var cells = document.querySelectorAll('#myTable td');
        cells.forEach(function (cell) {
            // Verifica se o conteúdo da célula é um número
            var numberValue = parseFloat(cell.textContent);
            if (!isNaN(numberValue)) {
                // Se for um número, atualize o conteúdo com o número formatado
                cell.textContent = numberValue.toFixed(2);
            }
        });
    });
</script>

<!-- Oculta Linhas com o Status Ganhou -->
<script>
function ocultarLinhasPendentes() {
            var linhas = document.querySelectorAll('.table tbody tr');

            for (var i = 0; i < linhas.length; i++) {
                var colunaStatus = linhas[i].querySelector('.status');
                if (colunaStatus && colunaStatus.textContent.toLowerCase().includes('ganhou')) {
                    linhas[i].style.display = 'none';
                }
            }
        }

        function mostrarLinhasPendentes() {
            var linhas = document.querySelectorAll('.table tbody tr');

            for (var i = 0; i < linhas.length; i++) {
                linhas[i].style.display = '';
            }
        }
</script>

</html>
