<!DOCTYPE html>
<html lang="en">
<style>
        #myTable {
            max-width: 800px;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
<head>
    <meta charset="UTF-8">
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1 class="blue-text">Valor Disponivel nas Casas: {{ total_valor|default:"0.00" }}</h1>
    <div class="table" id="myTable">
        <table border='1'>
          <tr>
            <th>Casa</th>
            <th>Valor</th>
          </tr>
          {% for x in mymembers %}
            <tr>
              <td>{{ x.casa }}</td>
              <td>{{ x.valor }}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    {% endblock %}
</body>
</html>
